{% extends "base/base.html" %}
{% load widget_tweaks %}
{% block content %}
<h1 class="mb-3">{{ view.object.pk|default:"Create" }} Subcategory</h1>
<div class="card" style="max-width: 500px;">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <!-- Subcategory Name Field -->
            <div class="mb-3">
                <label for="{{ form.name.id_for_label }}" class="form-label">Subcategory Name</label>
                {{ form.name|add_class:"form-control form-icon-input" }}
                {% if form.name.errors %}
                    <div class="text-danger">
                        {% for error in form.name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <!-- Related Category Field -->
            <div class="mb-3">
                <label for="{{ form.category.id_for_label }}" class="form-label">Category</label>
                {{ form.category|add_class:"form-control form-icon-input" }}
                {% if form.category.errors %}
                    <div class="text-danger">
                        {% for error in form.category.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <!-- Description Field -->
            <div class="mb-3">
                <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                {{ form.description|add_class:"form-control form-icon-input" }}
                {% if form.description.errors %}
                    <div class="text-danger">
                        {% for error in form.description.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary w-100 mb-3" style="width: auto; margin-top: 10px;">Save</button>
        </form>
        <a href="{% url 'subcategory-list' %}">Back to Subcategories</a>
    </div>
</div>
{% endblock %}
