{% extends "base/base.html" %}
{% load widget_tweaks %}
{% block title %}Project{% endblock %}

{% block content %}
<h1 class="mb-3">{{ view.object.pk|default:"Create" }} Project</h1>
<div class="card" style="max-width: 500px;">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <!-- Project Name Field -->
            <div class="mb-3">
                <label for="{{ form.name.id_for_label }}" class="form-label">Project Name</label>
                {{ form.name|add_class:"form-control form-icon-input" }}
                {% if form.name.errors %}
                    <div class="text-danger">
                        {% for error in form.name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary w-100 mb-3" style="width: auto; margin-top: 10px;">Save</button>
        </form>
        <a href="{% url 'project-list' %}">Back to Projects</a>
    </div>
</div>
{% endblock %}
